body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

header {
  background-color: #0F868A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}

.header_img {
  width: 225px;
  height: auto;
  margin-bottom: -3px;
}

#search-bar {
  position: absolute;
  right: 10px;
}

#search-input {
  width: 150px;
  height: 30px;
  font-size: 14px;
  padding-left: 3px;
  border: solid black 2px;
  outline: none;
}

#search-icon {
  height: 35px;
  width: 35px;
  font-size: 15px;
}

.red-background {
  background-color: #ff7a7a;
}

.suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #007fff;
  color: #fff;
}

.package {
  margin: 5px;
}

.fruit-tart {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.tart {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px;
  background-color: #fff;
  width: 100%;
  margin: 0px 5px;
  margin-top: 15px;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
}

.tart img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.party_img {
  margin: 5px 0px;
}

@media (max-width: 715px) {
  .tart {
    width: 100%;
    margin: 0px 10px;
    margin-top: 10px;
  }

  header {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -10px;
  }

  .header_img {
    width: 200px;
    margin: 0px;
    margin-bottom: -10px;
  }

  #search-bar {
    position: relative;
    left: 5px;
    margin-top: -5px;
  }

  #search-input {
    margin-bottom: 5px;
    width: 125px;
  }
}

h2 {
  margin: 0px;
  font-size: 20px;
}
