<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>構築まとめ屋。</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animation.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='autocomplete_poke.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete_item.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete_tera.js') }}"></script>
</head>

<body>
    <div id="overlay"></div>
    <svg id="loading-overlay" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>

    <header>
        <h1><a href="https://matomeyapoke.com" id="site-title">構築まとめ屋。</a></h1>
        <form id="search-bar" action="https://matomeyapoke.com/search.php" method="get">
            <input type="text" id="search-input" class="pokemon_input" name="pokemon0" autocomplete="off"
                placeholder="ポケモン名で検索">
            <button type="submit" id="search-icon">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </form>
    </header>

    <div class="fruit-tart">
        <div class="tart">
            <h2>その他のフォーム</h2>
            <div class="package">
                <div id="form">
                    <p>このページではランクバトル以外の構築やシーズン途中の構築を収集しています。最終順位が確定しているランクバトルの構築は「構築収集フォーム」から投稿してください。</p>
                    <p><span>レンタル画像からポケモン名などを自動で読み取れます。こちらを利用して可能な限り多くの項目に入力していただけると助かります。精度は100%ではないため適宜調整してください。</span>
                    <form method="post" enctype="multipart/form-data" id="upload-form">
                        <input type="file" name="file" accept=".png, .jpg, .jpeg" id="file-input">
                    </form>
                    <script>
                        document.getElementById('file-input').addEventListener('change', function () {
                            showLoading();
                        });
                        function showLoading() {
                            document.getElementById('overlay').style.display = 'flex';
                            document.getElementById('loading-overlay').style.display = 'flex';
                        }
                    </script>
                    </p>
                    <div style="color: red;">*は必須項目です。</div>
                    <form id="party_form" action="https://matomeyapoke.com/php/database/save_to_database.php"
                        method="post">
                        <input type="text" id="approval" name="approval" style="display: none;" value="false">
                        <label for="url">ルール<span style="color: red;">*</span>：</label>
                        <label><input type="checkbox" name="rule[]" class="check" value="single"
                                id="single">シングル</label>
                        <label><input type="checkbox" name="rule[]" class="check" value="double"
                                id="double">ダブル</label><br>
                        <label for="url">記事URL<span style="color: red;">*</span>：</label>
                        <input type="text" id="url" name="url" autocomplete="off"><br>
                        <label for="name">制作者名<span style="color: red;">*</span>：</label>
                        <input type="text" id="name" name="name" autocomplete="off"><br>

                        <p>
                            仲間大会の場合は該当するレギュレーションを選択してください。
                            いずれのレギュレーションや大会にも当てはまらない場合は「大会など」から「その他」を選択してください。
                        </p>

                        <label for="regulation">レギュレーション：</label>
                        <select name="regulation" id="regulation">
                            <option value="">-----</option>
                            <option value="F">レギュF　</option>
                            <option value="E">レギュE　</option>
                            <option value="D">レギュD　</option>
                            <option value="C">レギュC　</option>
                            <option value="B">レギュB　</option>
                            <option value="A">レギュA　</option>
                        </select><br>
                        <label for="event">大会など：</label>
                        <select name="event" id="event" style="width: 151px;">
                            <option value="">-----</option>
                            <option value="other">その他</option>
                            <option value="ryuuou2024">竜王戦2024予選</option>
                            <option value="trick_magic">トリックマジック</option>
                            <option value="kitakami_prologue">キタカミプロローグ</option>
                            <option value="parudea_prologue">パルデアプロローグ</option>
                        </select><br>
                        <script>
                            function addChangeListener(element, targetElement) {
                                document.getElementById(element).addEventListener('change', function () {
                                    document.getElementById(targetElement).value = '';
                                });
                            }

                            addChangeListener('regulation', 'event');
                            addChangeListener('event', 'regulation');
                        </script>
                        <script>
                            for (let i = 1; i <= 6; i++) {
                                document.write(`
                                <label for="pokemon${i}">ポケモン${(i === 1) ? '１' : (i === 2) ? '２' : (i === 3) ? '３' : (i === 4) ? '４' : (i === 5) ? '５' : (i === 6) ? '６' : ''}：</label>
                        <input type="search" class="pokemon_input" id="pokemon${i}" name="pokemon${i}" autocomplete="off" ${(i === 1) ? 'placeholder="ポケモン名"' : ''}><br>
                        <label style="visibility: hidden;">ポケモン${'１'}：</label>
                        <input type="search" class="item_input" id="item${i}" name="item${i}" autocomplete="off" ${(i === 1) ? 'placeholder="もちもの"' : ''}><br>
                        <label style="visibility: hidden;">ポケモン${'１'}：</label>
                        <input type="search" class="tera_input" id="tera${i}" name="tera${i}" autocomplete="off" ${(i === 1) ? 'placeholder="テラスタル"' : ''}><br>
                      `);
                            }
                        </script>
                        <input type="submit" value="送信" class="botan">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>