<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>構築まとめ屋。</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/destyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_poke.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_item.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_tera.js') }}"></script>
</head>

<body>
    <div id="overlay"></div>
    <svg id="loading-overlay" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <div class="overlay"></div>
    <div id="top">
        <header>
            <a href="https://matomeyapoke.com/">
                <img src="{{ url_for('static', filename='img/flat.png') }}" id="header-img">
            </a>
            <button id="menuButton"><i class="fas fa-bars"></i></button>
        </header>
    </div>
    <div id="hamburgerMenu">
        <span id="closeButton">×</span>
        <form action="https://matomeyapoke.com/search.php" method="get">
            <div class="rule-container" style="margin-left: 16px;">
                <input type='checkbox' name='rule[]' value='single' id='single' style='margin-bottom: 4px;'>
                <label for='single' style='margin-bottom: 2px; margin-left: 2px;'>シングル</label>
                <input type='checkbox' name='rule[]' value='double' id='double'
                    style='margin-bottom: 4px; margin-left: 16px;'>
                <label for='double' style='margin-bottom: 2px; margin-left: 2px;'>ダブル</label>
            </div>
            <div id="search-bar">
                <input type="search" id="search-input" class="pokemon_input" name="pokemon0" autocomplete="off"
                    placeholder="ポケモン名で検索">
                <button type="submit" id="search-icon">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </form>
        <div class="menu-box">
            <h3>記事検索</h3>
            <ul>
                <li>
                    <a href="https://matomeyapoke.com/search.php">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>詳細検索はこちら</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>構築投稿フォーム</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>ランクバトルの構築を投稿</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>その他の構築を投稿</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>シングル記事</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン13シングル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン12シングル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン11シングル上位記事</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>ダブル記事</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン13ダブル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン12ダブル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン11ダブル上位記事</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>問い合わせ</h3>
            <ul>
                <li>
                    <a href="inquiry.php">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>こちらから</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div>このページではランクバトル以外の構築やシーズン途中の構築を投稿できます。最終順位が確定したランクバトルの構築は<a class="blue"
                href="https://pokemon-3lix.onrender.com/">構築投稿フォーム</a>から投稿してください。</div>
        <div>レンタル画像からポケモン名などを自動で読み取れます。こちらを利用して可能な限り多くの項目に入力していただけると助かります。</div>

        <div>
            <form method="post" enctype="multipart/form-data" id="upload-form">
                <input type="file" name="file" id="file-input" accept=".png, .jpg, .jpeg">
            </form>
        </div>

        <form id="party_form" action="https://matomeyapoke.com/php/database/save_to_database.php" method="post">

            <input type="text" id="approval" name="approval" style="display: none;" value="false">

            <div>
                <span>*は必須項目です。</span>
            </div>

            <div>
                <label for="rule">ルール<span>*</span></label>
                <select name="rule" id="rule">
                    <option value="">-----</option>
                    <option value="single">シングル</option>
                    <option value="double">ダブル</option>
                </select>
            </div>

            <div>
                <label for="url">記事URL<span>*</span></label>
                <input type="search" id="url" name="url" autocomplete="off">
            </div>

            <div>
                <label for="name">制作者名<span>*</span><span id="name_x"></span></label>
                <input type="search" id="name" name="name" autocomplete="off">
            </div>

            <div style="margin: 16px auto;">
                仲間大会の場合は該当するレギュレーションを選択してください。いずれのレギュレーションや公式大会にも当てはまらない場合は「公式大会など」から「その他」を選択してください。
            </div>

            <div>
                <label for="regulation">レギュレーション</label>
                <select name="regulation" id="regulation" onchange="updateSelect('regulation', 'event')">
                    <option value="">-----</option>
                    <option value="F">レギュF</option>
                    <option value="E">レギュE</option>
                    <option value="D">レギュD</option>
                    <option value="C">レギュC</option>
                    <option value="B">レギュB</option>
                    <option value="A">レギュA</option>
                </select>
            </div>

            <div>
                <label for="event">公式大会など</label>
                <select name="event" id="event" onchange="updateSelect('event', 'regulation')">
                    <option value="">-----</option>
                    <option value="F">その他</option>
                    <option value="E">ブルーベリープロローグ</option>
                    <option value="D">竜王戦2024予選</option>
                    <option value="C">トリックマジック</option>
                    <option value="B">キタカミプロローグ</option>
                    <option value="A">パルデアプロローグ</option>
                </select>
            </div>

            <label for="pokemon1">ポケモン１</label>
            <div class="input-group">
                <input type="search" id="pokemon1" class="poke_input pokemon_input" name="pokemon1" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item1" class="tool_input item_input" name="item1" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera1" class="teras_input tera_input" name="tera1" autocomplete="off"
                    placeholder="テラスタル">
            </div>

            <label for="pokemon2">ポケモン２</label>
            <div class="input-group">
                <input type="search" id="pokemon2" class="poke_input pokemon_input" name="pokemon2" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item2" class="tool_input item_input" name="item2" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera2" class="teras_input tera_input" name="tera2" autocomplete="off"
                    placeholder="テラスタル">
            </div>

            <label for="pokemon3">ポケモン３</label>
            <div class="input-group">
                <input type="search" id="pokemon3" class="poke_input pokemon_input" name="pokemon3" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item3" class="tool_input item_input" name="item3" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera3" class="teras_input tera_input" name="tera3" autocomplete="off"
                    placeholder="テラスタル">
            </div>

            <label for="pokemon4">ポケモン４</label>
            <div class="input-group">
                <input type="search" id="pokemon4" class="poke_input pokemon_input" name="pokemon4" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item4" class="tool_input item_input" name="item4" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera4" class="teras_input tera_input" name="tera4" autocomplete="off"
                    placeholder="テラスタル">
            </div>

            <label for="pokemon5">ポケモン５</label>
            <div class="input-group">
                <input type="search" id="pokemon5" class="poke_input pokemon_input" name="pokemon5" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item5" class="tool_input item_input" name="item5" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera5" class="teras_input tera_input" name="tera5" autocomplete="off"
                    placeholder="テラスタル">
            </div>

            <label for="pokemon6">ポケモン６</label>
            <div class="input-group">
                <input type="search" id="pokemon6" class="poke_input pokemon_input" name="pokemon6" autocomplete="off"
                    placeholder="ポケモン名">
                <input type="search" id="item6" class="tool_input item_input" name="item6" autocomplete="off"
                    placeholder="もちもの">
                <input type="search" id="tera6" class="teras_input tera_input" name="tera6" autocomplete="off"
                    placeholder="テラスタル">
            </div>


            <input type="submit" id="post" value="構築を投稿する">

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>